# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Python
# -----------------------------
# Кэшированные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Файлы логов
*.log

# Файлы базы данных SQLite
*.sqlite3

# -----------------------------
# Виртуальное окружение
# -----------------------------
venv/

# -----------------------------
# Сборки и дистрибутивы
# -----------------------------
*.egg-info/
dist/
build/
.eggs/
*.egg

# -----------------------------
# Системные файлы
# -----------------------------
.DS_Store           # Mac Finder
Thumbs.db           # Windows thumbnails

# -----------------------------
# Файлы IDE и редакторов
# -----------------------------
.idea/              # PyCharm
*.iml               # PyCharm module files
*.sublime-workspace
*.sublime-project

# -----------------------------
# Дополнительные временные/мусорные файлы
# -----------------------------
*.tmp
*.bak
*.swp